body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}
/* Two categories of elements - block elements: example, h1, p, header, nav, div, footer, 


inline elements - a, img, span, b, strong, small, big, em */

h1{
    /* padding-top padding-right, padding-bottom padding-left */
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    /* also: padding: 50px 30px 50px 30px  */
}


/* shorthand */
/* 4 value */
/* padding-top padding-right, padding-bottom padding-left */

/* 2 value padding */
/* padding:padding:padding -top&padding-bottom padding-right&padding-left
padding:50px, 30px; */

nav a{
    padding-right: 20px;
}

.para{
    width: 300px;
    height: 100px;
    /* border  */
    border-width: 2px;
    border-style: dashed;
    border-color: red;
    /* border shorthand */
    /* border: border-width border-style border-color */
    border: 2px dashed red
}

header{
    background-color: #05a081;
    color: #fff;
    /* margin - margin-top margin-right margin-bottom margin-left */
    margin: 40px 30px 40x 30px;
    
}

#wrapper{
    
    /*
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    */
    /* shorthand margin */
    margin: 0 auto ;

    width: 80%;
    border: 1px solid #ccc;
}

.para1{
    /* border-radius  */
    width: 200px;
    height: 200px;
    border: 1px soild #000000;
    border-radius: 50%;
}
.btn{
    padding: 20px 30px;
    background-color: #05a081;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 150px;
    text-align: center;
    border-radius: 10px;
}
/* How to configure an image in a webpage, two ways. */
/* image tag in html or background-mage in the css */
.banner{
    background-image: url(..images/dog.jpg);
    height: 500px;
    background-size: 100%;
    background-repeat: no-repeat;

}
